body{
    max-width: 1440px;
    margin: auto;
}


/* -------------------- HEADER ------------------ */
header{
    margin: 50px 0;
}
.logo-header{
    text-align: center;
}
.title-header{
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: #D04F4F;
}

/* --------------------- MAIN ------------------- */

.form-search{
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.search-input{
    height: 50px;
    min-width: 800px;
    background-color: #E7E7E7;
    border: none;
}
.form-search button{
    background-color: #E7E7E7;
    border: none;
}
.fa-search{
    font-size: 23px;
}