body{
    max-width: 1440px;
    margin: 0 auto;
}

.hide{
    display: none;
}

/* -------------------- HEADER ------------------ */
header{
    margin: 50px 0;
}
.logo-header{
    text-align: center;
}
.title-header{
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: #D04F4F;
}

/* --------------------- MAIN ------------------- */

            /*-------- SEARCH BAR ---------*/

.form-search{
    display: flex;
    border-radius: 5px;
    margin-bottom: 20px;
}
.search-input{
    height: 50px;
    width: 100%;
    background-color: #E7E7E7;
    border: none;
}
.form-search button{
    background-color: #E7E7E7;
    border: none;
}
.fa-search{
    font-size: 23px;
}
            /*---------- TAG ------------*/

.tag{
    margin: 10px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax( 100px, 1fr));
    gap: 10px;
}

.tag-ingredient{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3282f2;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    color: #fff;
    font-family: "Lato";
    font-size: 14px;
}

.tag-appareil{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #68d9a4;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    color: #fff;
    font-family: "Lato";
    font-size: 14px;
}

.tag-ustensil{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ed6454;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    color: #fff;
    font-family: "Lato";
    font-size: 14px;
}

.tag-list{
    padding: 10px 0px 5px 10px;
    color: #FFFFFF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.img-cross{
    margin: auto 5px auto 5px;
    height: 20px;
}
            /*---------- SORT -----------*/

.sort{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.sort-title{
    margin: 0;
    padding: 25px;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}

/* SORT INGREDIENTS */
.sort-ingredients{
    display: inline-block;
    background-color: #3282f2;
    border-radius: 5px;
    flex-direction: row;
    position: relative;
}

.sort-ingredients-close{
    display: flex;
    flex-direction: row;
}

.sort-ingredients-open{
    display: none;
    flex-direction: row;
    padding: 25px;
    width: 600px;
}

.sort-ingredients-data{
    display: none;
    grid-template-columns: repeat(3, 1fr);    
    background-color: #3282f2;
    width: 650px;
    position: absolute;
}


/* SORT APPAREILS */
.sort-appareils{
    display: inline-block;
    background-color: #68d9a4;
    border-radius: 5px;
    flex-direction: row;
    position: relative;
}

.sort-appareils-close{
    display: flex;
    flex-direction: row;
}

.sort-appareils-open{
    display: none;
    flex-direction: row;
    padding: 25px;
    width: 600px;
}

.sort-appareils-data{
    display: none;
    grid-template-columns: repeat(3, 1fr);    
    background-color: #68d9a4;
    width: 650px;
    position: absolute;
}

/* SORT USTENSILES */
.sort-ustensiles{
    display: inline-block;
    background-color: #ed6454;
    border-radius: 5px;
    flex-direction: row;
    position: relative;
}

.sort-ustensiles-close{
    display: flex;
    flex-direction: row;
}

.sort-ustensiles-open{
    display: none;
    flex-direction: row;
    padding: 25px;
    width: 600px;
}

.sort-ustensiles-data{
    display: none;
    grid-template-columns: repeat(3, 1fr);    
    background-color: #ed6454;
    width: 650px;
    position: absolute;
}

.arrows-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-angle-down, .fa-angle-up{
    margin: 0 10px;
    font-size: 25px;
    color: #fff;
}



            /*---------- RECIPES -----------*/

#recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25px;
    gap: 50px;
}

#recipes article{
    height: 380px;
    background: #e7e7e7;
    border-radius: 5px;
}

.img-recipes{
    height: 180px;
    background-color: #C7BEBE;
    border-radius: 5px 5px 0px 0px;
}

.recipes-data{
    margin: 20px;
}
.recipes-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipes-title h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.recipes-timer{
    display: flex;
    align-items: center;
}

.recipes-title div p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    margin-left: 5px;
}

.recipes-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 105px;
}

.content-ingredients{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
}

.content-description{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    overflow: hidden;
}



