body{
    max-width: 1440px;
    margin: 0 auto;
}


/* -------------------- HEADER ------------------ */
header{
    margin: 50px 0;
}
.logo-header{
    text-align: center;
}
.title-header{
    font-family: "DM Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: #D04F4F;
}

/* --------------------- MAIN ------------------- */

            /*-------- SEARCH BAR ---------*/

.form-search{
    display: flex;
    border-radius: 5px;
    margin-bottom: 20px;
}
.search-input{
    height: 50px;
    min-width: 1200px;
    background-color: #E7E7E7;
    border: none;
}
.form-search button{
    background-color: #E7E7E7;
    border: none;
}
.fa-search{
    font-size: 23px;
}
            /*---------- TAG ------------*/

.tag{
    margin: 10px 0px;
}

.tag-ingredients{
    display: flex;
    justify-content: center;
    background: #3282f2;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    color: #fff;
    font-family: "Lato";
    font-size: 14px;
}

.tag-ingredients img{
    margin-left: 10px;
}
            /*---------- SORT -----------*/

.sort{
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

.sort-title{
    margin: 0;
    padding: 25px;
    font-family: "Lato";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.sort-ingredients{
    display: flex;
    background-color: #3282f2;
    border-radius: 5px;
    flex-direction: row;
}

.sort-appareils{
    display: flex;
    background-color: #68d9a4;
    border-radius: 5px;
    flex-direction: row;
}

.sort-ustensiles{
    display: flex;
    background-color: #ed6454;
    border-radius: 5px;
    flex-direction: row;
}

.arrows-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-angle-down{
    margin: 0 10px;
    font-size: 25px;
    color: #fff;
}

            /*---------- RECIPES -----------*/

#recipes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#recipes article{
    height: 380px;
    background: #68d9a4;
}

.img-recipes{
    height: 180px;
    background-color: #C7BEBE;
}

